#footerStyle {
    position: fixed;
    bottom: 0;
    background-color: rgb(8, 8, 14);
    height: 80px;
    width: 100%;
    z-index: 1;
    text-align: bottom;
}

span {
    color: #2BA9E1;
}

.appJs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgb(63, 81, 181);
    overflow: scroll;
    z-index: 1;
}

#navBar {
    grid-column: span 4;
    height: 90px;
    width: 100%;
}

.displayMain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0px;
    height: 500px;
    grid-row: span 4;
    grid-column: span 4;
    padding-left: 300px;
}

.innerDisplayMainLeft {
    position: fixed;
    top: 80px;
    left: 0;
}

.innerDisplayMainRight {
    grid-column: span 4;
    z-index: 1;
    padding-right: 0px;
    padding-left: 70px;
    padding-bottom: 0px;
    padding-top: 10px;
    height: 500px;
}

.history {
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.messageStyle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}

.messageName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: inherit;
    color: orange;
}

#searchImgDisplay {
    padding-left: 150px;
}

p h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.notfound {
    display: flex;
    display: grid;
    justify-content: center;
    justify-content: bottom;
    padding-left: 70px;
    padding-top: 60px;
}

#notFound {
    height: 200px;
    width: 600px;
}

.searchComp {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    margin-top: -10px;
    padding-left: 40px;
}

.form {
    margin-top: -13px;
}

@media screen and (min-width: 850px) {
    .messageTitle {
        font-size: 35px;
        font-style: bold;
        padding-left: 150px;
    }
}